.list {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  list-style: none;
}

.listItem {
  background-color: $white-color;
  border: 1px solid $grey-color;
  border-radius: 4px;
  color: $black-color;

  &.active {
    background-color: $blue-color;
    border: 1px solid $blue-color;
  }

  &.active .button {
    color: $white-color;
  }

  &:active {
    transform: scale(1.03);
  }
}

.button {
  width: 100%;
  padding: 6px 12px;
  text-align: center;
  font-size: 16px;
  line-height: 140%;
  appearance: none;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;

  &.disabled {
    cursor: default;
  }

  @media screen and (max-width: 648px) {
    padding: 3px 6px;
    font-size: 14px;
    line-height: 100%;
  }
}
