$blue-color: #5e96fc;
$dark-blue-color: #4285f4;
$white-color: #ffffff;
$black-color: #000000;
$purple-color: #673ab7;
$green-color: #34a853;
$red-color: #ea4335;
$grey-color: #eaebed;
$bg-color: #f7f7f8;

$border-radius: 8px;
