.button {
  padding: 10px 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: $white-color;
  background: $blue-color;
  border-radius: $border-radius;
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;

  &:active {
    transform: scale(1.02);
  }
}
