.container {
  display: flex;
  justify-content: end;
}

.button {
  appearance: none;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.image {
  display: block;
  width: 15px;
  height: 15px;
}
