* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(90deg, #b9deed, #efefef);
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  padding: 20px 0 0 0;
}

.search-input {
  height: 40px;
  margin: 0 10px 10px 0;
  padding: 0 10px;
  font-size: 24px;
  line-height: 1.5;
  border-radius: 20px;
}

.number-input {
  width: 250px;
}

.header-button {
  margin-right: 10px;
  padding: 0 10px;
  height: 40px;
  font-size: 24px;
  border-radius: 20px;
  cursor: pointer;
}

.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product-card {
  margin: 30px;
  padding-bottom: 10px;
  border: 1px solid black;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}

.product-price {
  font-weight: bold;
}

.product-name {
  text-align: center;
  width: 300px;
}

.product-info {
  width: 300px;
  padding: 0 0 5px 10px;
  margin: 0;
  font-size: 18px;
}

.error-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  display: block;
  width: 300px;
}

.product-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.pagination-pages {
  display: flex;
  justify-content: center;
}

.pagination-page {
  margin-right: 5px;
  padding: 0 10px;
  font-size: 24px;
  line-height: 1.5;
  background-color: lightyellow;
  border: 1px solid black;
  cursor: pointer;
}

.pagination-page-current {
  border: 2px solid red;
  font-weight: bold;
}

.detailed-product-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}

.product-page {
  margin-left: auto;
  width: 50%;
  height: 100%;
  background-color: rgba(0,0,0,0.51);
}
